/* home.css */

/* home.css */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  min-height: 50vh;
}

/* Page title container */

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.page-title {
  width: 420px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
  background: var(--primary);
  font-size: 2.2rem;
  font-weight: bold;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  text-align: center;
  text-shadow: 1px 2px 8px rgba(0,0,0,0.12);
  padding: 2rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.filters-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;  
  margin-right: 2rem;
  color: white;
}

.filters-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filters-display p {
  margin: 5px 0;
  font-size: 1rem;
}

.wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin-button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  /* margin-top: .5rem; */
}
  
  /* .spin-button:hover {
    background-color: #f7ea75;
  } */

  h1 {
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .result-text {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--text);
    cursor: pointer;
    text-decoration: underline;
  }

  .filters-display {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 20px;
    flex-wrap: wrap; 
    margin: 0 10px;
    color: var(--text);
    font-size: 1rem; 
}
  
  