.restaurants-page {
    padding: 2rem;
    margin-top: 1rem;
    max-width: 1200px;
    /* margin: 0 auto; */
    /* background-color: #f9f9f9; */
    min-height: 100vh;
  }
  
  .restaurants-page h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    text-align: center;
    font-family: Tahoma;
  }

  a {
    color: black
  }
  
  
  